[submodule "deps/Unity"]
	path = deps/Unity
	url = https://github.com/ThrowTheSwitch/Unity
[submodule "deps/crypto-algorithms"]
	path = deps/crypto-algorithms
	url = https://github.com/B-Con/crypto-algorithms
